<header class="navbar">

    <div class="logo">
        <i class="fa-solid fa-shield-heart"></i>
        <span>APU</span>
    </div>

    <nav>
        <ul>

            <li>
                <a routerLink="/home">Inicio</a>
            </li>

            <li>
                <a routerLink="/aprendizaje">Aprendizaje</a>
            </li>

            <li>
                <a routerLink="/mochila">Mochila de Emergencia</a>
            </li>

            <li>
                <a routerLink="/configuracion">Configuración</a>
            </li>

        </ul>
    </nav>

    <div class="user-section">

        <i class="fa-regular fa-bell bell"></i>

        <img src="https://i.pravatar.cc/150?img=12">

        <span>{{ nombreCompleto }}</span>

        <i class="fa-solid fa-chevron-down"></i>

    </div>

</header>