<app-navbar></app-navbar>

<section class="mochila-container">

    <div class="mochila-header">

        <div>
            <h1>Mochila de Emergencia</h1>

            <p>
                Asegúrate de tener estos elementos esenciales siempre listos.
            </p>

            <div class="progreso">

                <div class="progreso-texto">

                    Progreso de mochila:
                    {{porcentaje}}%

                </div>


                <div class="barra">

                    <div class="barra-completa" [style.width.%]="porcentaje">

                    </div>

                </div>

            </div>

        </div>

        <div class="mochila-icono">
            🎒
        </div>


    </div>

    <div class="tabs">

        <button [class.activa]="tipoMochila === 'general'" (click)="seleccionarGeneral()">

            Mochila General

        </button>

        <button [class.activa]="tipoMochila === 'personalizada'" (click)="seleccionarPersonalizada()">

            Mochila Personalizada

        </button>

    </div>

    <div class="mochila-grid">


        <div class="item" *ngFor="let material of materialesMostrados" (click)="cambiarEstado(material)">


            <span class="estado" [class.incompleto]="!material.conseguido">

                {{material.conseguido ? '✔️' : '❌'}}

            </span>



            <div class="item-icon">
                🎒
            </div>


            <h3>
                {{material.nombre}}
            </h3>


            <p>
                Cantidad: {{material.cantidad}}
            </p>


        </div>


    </div>

    <div class="acciones" *ngIf="tipoMochila === 'general'">

        <button (click)="guardarCambios()">
            Guardar cambios
        </button>

    </div>

    <div class="recordatorio">
        🛡️ Revisa tu mochila cada 3 meses y mantén todo actualizado.
    </div>



</section>

<app-footer></app-footer>