.admin-resumen {

    padding: 35px;

}


.admin-resumen h1 {

    color: #1E3A8A;

    margin-bottom: 30px;

}





.contenedor {

    display: flex;

    gap: 30px;

}





.lista {

    width: 350px;

    background: white;

    border-radius: 12px;

    box-shadow: 0 6px 18px rgba(0, 0, 0, .08);

    padding: 25px;

}





.lista h2 {

    color: #1E3A8A;

    margin-bottom: 20px;

}





.panel {

    flex: 1;

    min-height: 250px;

    background: white;

    border-radius: 12px;

    box-shadow: 0 6px 18px rgba(0, 0, 0, .08);

    padding: 30px;

}





.contenido {

    border: 1px solid #ddd;

    border-radius: 10px;

    padding: 15px;

    margin-bottom: 15px;

    cursor: pointer;

    transition: .3s;

}



.contenido:hover {

    background: #eef5ff;

}



.contenido.activo {

    border: 2px solid #2563EB;

    background: #eef5ff;

}





.panel button,
.modal button {

    margin-top: 25px;

    background: #2563EB;

    color: white;

    border: none;

    padding: 12px 20px;

    border-radius: 8px;

    cursor: pointer;

}





.modal {

    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, .4);

    display: flex;

    justify-content: center;

    align-items: center;

}





.modal-content {

    width: 700px;

    max-width: 90%;

    background: white;

    border-radius: 12px;

    padding: 30px;

}





pre {

    white-space: pre-wrap;

    line-height: 1.8;

    font-family: Arial;

}

button:disabled {

    background: #9ca3af;

    cursor: not-allowed;

    opacity: 0.6;

}