<section class="admin-resumen">


    <h1>
        Resumen Inteligente de Comentarios
    </h1>



    <div class="contenedor">


        <div class="lista">


            <h2>
                Contenidos
            </h2>



            <div 
            class="contenido"
            *ngFor="let contenido of contenidos"
            (click)="seleccionarContenido(contenido)"
            [class.activo]="contenidoSeleccionado?.idContenido===contenido.idContenido">


                <h3>
                    Nivel {{contenido.nivel}}
                </h3>


                <p>
                    {{contenido.titulo}}
                </p>


            </div>


        </div>





        <div class="panel">


            <h2>

                {{
                contenidoSeleccionado?.titulo 
                || 
                'Seleccione un contenido'
                }}

            </h2>



            <button 
            (click)="generarResumen()"
            [disabled]="!contenidoSeleccionado || cargando">


                {{
                cargando 
                ? 
                'Generando...'
                :
                'Generar resumen IA'
                }}


            </button>



        </div>


    </div>



</section>





<div class="modal" *ngIf="mostrarModal">


    <div class="modal-content">


        <h2>
            Resumen IA
        </h2>


        <pre>
{{resumen}}
        </pre>



        <button 
        (click)="cerrarModal()">

            Cerrar

        </button>


    </div>


</div>